@font-face {
  font-family: "Rock 3d";
  src: url(/src/assets/fonts/rock3d-regular-webfont.woff2);
}
@font-face {
  font-family: "Linographer";
  src: url(/src/assets/fonts/linographer-webfont.woff2);
}

@font-face {
  font-family: "Cyber";
  src: url(/src/assets/fonts/cyber-trunk.woff2);
}
//** VARIABLES **

// font-family:
$rock: "Rock 3d";
$lino: "Linographer";
$cyber: "Cyber";
$main: "Montserrat";

// colors:
$color-darkest: #111010;

// colors main
$color-main-white: #e2e2e2;
$color-main-red: #db0000;
$color-main-dark-red: #740014;
$color-main-darkest-red: #440c16;

// colors psych
$color-psych-darkest: #212020;
$color-psych-dark: #313030;
$color-psych-green: #2ffe04;
$color-psych-pink: #fc07b3;
$color-psych-yellow: #f2fe04;

// font-size:
$fontsize-1: 5.653rem;
$fontsize-2: 3.998rem;
$fontsize-3: 60px;
$fontsize-4: 48px;
$fontsize-5: 1.414px;
$fontsize-text: 1rem;
$fontsize-small: 0.707rem;

:root {
  font-size: 16px;
  line-height: 1.9rem;
  margin: 0;
  padding: 0;
  color-scheme: main psych;
  color: $color-main-white;
  background-color: $color-darkest;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: $fontsize-1;
  font-family: $lino;
  color: $color-main-white;
}

h2 {
  font-size: $fontsize-2;
  font-family: $lino;
  color: $color-main-white;
}

h3 {
  font-size: $fontsize-3;
  font-family: $cyber;
  color: $color-main-red;
}

h4 {
  font-size: $fontsize-4;
  font-family: $cyber;
  color: $color-main-red;
}

h5 {
  font-size: $fontsize-5;
  font-family: $main;
  color: $color-main-white;
}

.small-text {
  font-size: $fontsize-small;
}

button {
  border: 2px solid $color-main-white;
  padding: 0.6em 1.2em;
  font-family: $main;
  background-color: transparent;
  cursor: pointer;
  color: $color-main-red;
  transition: border-color 0.25s;
  text-transform: uppercase;
}

button:hover {
  border-color: $color-main-red;
  color: $color-main-white;
  background-color: $color-main-dark-red;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: psych) {
  :root {
    color: $color-main-white;
    background-color: $color-darkest;
  }

  h1 {
    color: $color-psych-pink;
  }
}
/* INDEX PAGE STYLES */
//countdown styling
.react-countdown-simple__colon {
  font-size: 0.8rem;
  color: $color-main-white;
}
.react-countdown-simple__date-time {
  font-size: 1rem;
}

.react-countdown-simple {
  font-family: $lino;
  color: $color-main-red;
  display: flex;
  justify-content: center;
}

.countDown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  //span represents the numbers in the countdown
  span {
    color: $color-main-white;
  }
  p {
    padding-top: 5px;
    font-family: "Montserrat", sans-serif;
  }
}

//logo & dates top section
.logo {
  width: 10%;
}
.dates {
  font-family: "Montserrat", sans-serif;
}
//Artist samples homepage
.artistSamples {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.big {
  font-size: 2rem;
  font-family: $lino;
}
.artistWrapper {
  height: 75px; //find the right one when the font is there
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
  justify-content: center;
  line-height: normal;
}
.small {
  font-size: 1.7rem;
  font-family: $cyber;
  color: $color-main-red;
}
.micro {
  font-family: $cyber;
  color: $color-main-red;
}
.andMore {
  font-family: "Montserrat", sans-serif;
}
.ctaIndexBtns {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.lineupSamples {
  display: flex;
  flex-direction: column;
  text-align: center;
  h2 {
    font-size: 1rem;
  }
}
//LCF assets
.assetHeading {
  h2 {
    font-size: 1rem;
    text-align: center;
  }
}
.redAssetWrapper {
  display: flex;
  justify-content: center;

  .redAssetsHomePage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
    max-width: 800px;

    .iconAsset {
      h3 {
        font-size: $fontsize-text;
      }
      .assetText {
        overflow-wrap: break-word;
      }
      text-align: center;
    }
  }
}
//MERCH SAMPLES INDEXPAGE
.merchSamples {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh; //has to be higher in desktop

  button {
    margin-top: 20px;
  }

  img {
    width: 50%;
    align-items: center;
  }
  .merchWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .whiteCart {
    width: 30%;
  }

  .priceAndCart {
    display: flex;
    align-items: baseline;
    text-align: center;
    gap: 5px;
  }
  .alignMerch {
    display: flex;
  }
}
//FOOTER STYLE
.footer {
  background: $color-main-darkest-red;
  form {
    margin: 20px;
    padding: 20px;
  }
  .form-group {
    display: grid;
    justify-content: center;
    div {
      display: flex;
    }
  }
  .sponsorsAndContact {
    display: flex;
    justify-content: space-between;
    margin: 8px;
  }
  .lcfCopyRight {
    text-align: center;
  }
  .festivalSponsors {
    width: 50%;
  }
}
/* INFORMATION PAGE */
.infoPage {
  display: flex;
  justify-content: center;
  .festivalMap {
    width: 100%;
  }
}
